body {
    background-color: #999999;
}

span.taken {background-color: #cc0000;}
span.free {background-color: #33cc33;}
span.selected {background-color: #ffff66;}
span.booked {background-color: #ff9900;}